# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# Django
db.sqlite3
/media

# Static files
/staticfiles

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db